<?xml version="1.0"?>
<config>
    <modules>
        <Robinam_TestModul>
            <version>1.0.0</version>
        </Robinam_TestModul>
    </modules>
    <global>
        <models>
            <siteblocks>
                <class>Robinam_TestModul_Model</class>
                <resourceModel>siteblocks_resource</resourceModel>
            </siteblocks>
            <siteblocks_resource>
                <class>Robinam_TestModul_Model_Resource</class>
                <entities>
                    <block>
                        <table>robinam_siteblock</table>
                    </block>
                </entities>
            </siteblocks_resource>
        </models>
        <resources>
            <siteblocks_setup>
                <setup>
                    <module>Robinam_TestModul</module>
                </setup>
            </siteblocks_setup>
        </resources>
        <helpers>
            <siteblocks>
                <class>Robinam_TestModul_Helper</class>
            </siteblocks>
        </helpers>
    </global>
    <frontend>
        <routers>
            <siteblocks>
                <use>standard</use>
                <args>
                    <module>Robinam_TestModul</module>
                    <frontName>siteblocks</frontName>
                </args>
            </siteblocks>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <siteblocks before="Mage_Adminhtml">Robinam_TestModul_Adminhtml</siteblocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>

    </default>
</config>