<?xml version="1.0"?>
<config>
    <modules>
        <Robinam_ShippingInsurance>
            <version>1.0.0</version>
        </Robinam_ShippingInsurance>
    </modules>
    <global>
        <models>
            <shippinginsurance>
                <class>Robinam_ShippingInsurance_Model</class>
                <resourceModel>shippinginsurance_resource</resourceModel>
            </shippinginsurance>
            <shippinginsurance_resource>
                <class>Robinam_ShippingInsurance_Model_Resource</class>
            </shippinginsurance_resource>
        </models>
        <helpers>
            <shippinginsurance>
                <class>Robinam_ShippingInsurance_Helper</class>
            </shippinginsurance>
        </helpers>
    </global>
    <frontend>
        <routers>
            <shippinginsurance>
                <use>standard</use>
                <args>
                    <module>Robinam_ShippingInsurance</module>
                    <frontName>shippinginsurance</frontName>
                </args>
            </shippinginsurance>
        </routers>
        <translate>
            <modules>
                <Robinam_ShippingInsurance>
                    <files>
                        <default>Robinam_ShippingInsurance.csv</default>
                    </files>
                </Robinam_ShippingInsurance>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shippinginsurance before="Mage_Adminhtml">Robinam_ShippingInsurance_Adminhtml</shippinginsurance>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>

        <carriers>
            <flatrate>
                <inshurance_enabled>0</inshurance_enabled>
            </flatrate>
        </carriers>

    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shippinginsurance>
                                            <title>Store ShippingInsurance Module Section</title>
                                        </shippinginsurance>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>