<?xml version="1.0"?>
<config>
<sections>
    <shippinginsurance translate="label" module="shipping">
        <label>Shipping Insurance</label>
        <tab>sales</tab>
        <frontend_type>text</frontend_type>
        <sort_order>330</sort_order>
        <show_in_default>10</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>0</show_in_store>
        <groups>
            <flatinsurance>
                <label>Flat Insurance</label>
                <frontend_type>text</frontend_type>
                <sort_order>1</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <inshurance_enabled module="shipping" translate="label">
                        <label>Enabled insurance</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <comment>Is module enabled</comment>
                    </inshurance_enabled>
                    <inshurance_type module="shipping" translate="label">
                        <label>Type of insurance rate</label>
                        <frontend_type>select</frontend_type>
                        <source_model>shippinginsurance/source_mycustom</source_model>
                        <sort_order>21</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_type>
                    <inshurance_rate>
                        <label>Rate of insurance</label>
                        <frontend_type>text</frontend_type>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <sort_order>22</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_rate>
                </fields>
            </flatinsurance>
            <freeshippinginsurance>
                <label>Free shipping Insurance</label>
                <frontend_type>text</frontend_type>
                <sort_order>20</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <inshurance_enabled module="shipping" translate="label">
                        <label>Enabled insurance</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <comment>Is module enabled</comment>
                    </inshurance_enabled>
                    <inshurance_type module="shipping" translate="label">
                        <label>Type of insurance rate</label>
                        <frontend_type>select</frontend_type>
                        <source_model>shippinginsurance/source_mycustom</source_model>
                        <sort_order>21</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_type>
                    <inshurance_rate>
                        <label>Rate of insurance</label>
                        <frontend_type>text</frontend_type>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <sort_order>22</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_rate>
                </fields>
            </freeshippinginsurance>
            <tableinsurance>
                <label>Table Insurance</label>
                <frontend_type>text</frontend_type>
                <sort_order>30</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <inshurance_enabled module="shipping" translate="label">
                        <label>Enabled insurance</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <comment>Is module enabled</comment>
                    </inshurance_enabled>
                    <inshurance_type module="shipping" translate="label">
                        <label>Type of insurance rate</label>
                        <frontend_type>select</frontend_type>
                        <source_model>shippinginsurance/source_mycustom</source_model>
                        <sort_order>21</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_type>
                    <inshurance_rate>
                        <label>Rate of insurance</label>
                        <frontend_type>text</frontend_type>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <sort_order>22</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_rate>
                </fields>
            </tableinsurance>
            <upsinsurance>
                <label>UPS Insurance</label>
                <frontend_type>text</frontend_type>
                <sort_order>40</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <inshurance_enabled module="shipping" translate="label">
                        <label>Enabled insurance</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <comment>Is module enabled</comment>
                    </inshurance_enabled>
                    <inshurance_type module="shipping" translate="label">
                        <label>Type of insurance rate</label>
                        <frontend_type>select</frontend_type>
                        <source_model>shippinginsurance/source_mycustom</source_model>
                        <sort_order>21</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_type>
                    <inshurance_rate>
                        <label>Rate of insurance</label>
                        <frontend_type>text</frontend_type>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <sort_order>22</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_rate>
                </fields>
            </upsinsurance>
            <uspsinsurance>
                <label>USPS Insurance</label>
                <frontend_type>text</frontend_type>
                <sort_order>50</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <inshurance_enabled module="shipping" translate="label">
                        <label>Enabled insurance</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <comment>Is module enabled</comment>
                    </inshurance_enabled>
                    <inshurance_type module="shipping" translate="label">
                        <label>Type of insurance rate</label>
                        <frontend_type>select</frontend_type>
                        <source_model>shippinginsurance/source_mycustom</source_model>
                        <sort_order>21</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_type>
                    <inshurance_rate>
                        <label>Rate of insurance</label>
                        <frontend_type>text</frontend_type>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <sort_order>22</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_rate>
                </fields>
            </uspsinsurance>
            <fedexinsurance>
                <label>FedEx Insurance</label>
                <frontend_type>text</frontend_type>
                <sort_order>1</sort_order>
                <show_in_default>60</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <inshurance_enabled module="shipping" translate="label">
                        <label>Enabled insurance</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <comment>Is module enabled</comment>
                    </inshurance_enabled>
                    <inshurance_type module="shipping" translate="label">
                        <label>Type of insurance rate</label>
                        <frontend_type>select</frontend_type>
                        <source_model>shippinginsurance/source_mycustom</source_model>
                        <sort_order>21</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_type>
                    <inshurance_rate>
                        <label>Rate of insurance</label>
                        <frontend_type>text</frontend_type>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <sort_order>22</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_rate>
                </fields>
            </fedexinsurance>
            <dhldeprecatedinsurance>
                <label>DHL (deprecated) Insurance</label>
                <frontend_type>text</frontend_type>
                <sort_order>1</sort_order>
                <show_in_default>60</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <inshurance_enabled module="shipping" translate="label">
                        <label>Enabled insurance</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <comment>Is module enabled</comment>
                    </inshurance_enabled>
                    <inshurance_type module="shipping" translate="label">
                        <label>Type of insurance rate</label>
                        <frontend_type>select</frontend_type>
                        <source_model>shippinginsurance/source_mycustom</source_model>
                        <sort_order>21</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_type>
                    <inshurance_rate>
                        <label>Rate of insurance</label>
                        <frontend_type>text</frontend_type>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <sort_order>22</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_rate>
                </fields>
            </dhldeprecatedinsurance>
            <dhlinsurance>
                <label>DHL Insurance</label>
                <frontend_type>text</frontend_type>
                <sort_order>1</sort_order>
                <show_in_default>60</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <inshurance_enabled module="shipping" translate="label">
                        <label>Enabled insurance</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <comment>Is module enabled</comment>
                    </inshurance_enabled>
                    <inshurance_type module="shipping" translate="label">
                        <label>Type of insurance rate</label>
                        <frontend_type>select</frontend_type>
                        <source_model>shippinginsurance/source_mycustom</source_model>
                        <sort_order>21</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_type>
                    <inshurance_rate>
                        <label>Rate of insurance</label>
                        <frontend_type>text</frontend_type>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <sort_order>22</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_Website>1</show_in_Website>
                        <show_in_store>1</show_in_store>
                        <depends><inshurance_enabled>1</inshurance_enabled></depends>
                    </inshurance_rate>
                </fields>
            </dhlinsurance>
        </groups>
    </shippinginsurance>
</sections>
</config>